
html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;

}
#viewDiv{
    height: 90%;
    width: 95%;
}




#cadreNord{
    margin-left: 3%;
    height : 3%;
    width : 95%;
    background : lightgoldenrodyellow;
}

#cadreOuest{
    float: left;
    background : lightgoldenrodyellow;
    height : 90%;
}

#cadreEst{
    float: right;
    background : lightgoldenrodyellow;
    height : 90%;
}

#cadreSud{
    margin-left: 3%;
    width : 95%;
    height : 3%;
    background : lightgoldenrodyellow;
}
