
html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
  
  }
  #viewDiv{
      height: 90%;
      width: 95%;
  }
  
  
  h1{
      background : lightgreen;
  }
  
  
  #cadreNord{
      margin-left: 3%;
      height : 3%;
      width : 95%;
      background : gold;
  }
  
  #cadreOuest{
      float: left;
      background : red;
      height : 90%;
  }
  
  #cadreEst{
      float: right;
      background : pink;
      height : 90%;
  }
  
  #cadreSud{
      margin-left: 3%;
      width : 95%;
      height : 3%;
      background : blueviolet;
  }
  