body,html {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  font-family: berlin;
  justify-content: center;
  overflow-y: hidden;
}

@font-face {
  font-family: berlin;
  src: url(berlin-sans-fb-demi-cufonfonts/BRLNSDB.TTF);
}


h1 {
  font-family: berlin;
  color: white;
  font-size: 80px;
  margin: 0px;
}

#haut {
  background-color: #8B110D;
  height: 60%;
  width: 100%;
  position: absolute;
}

.logos {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

#titre {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#content {
  width: 800px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  top: 210px;
  position: relative;
  z-index: 1;
}

.carre {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 33.3%;
  height: 100%;
}

.square {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
}

.btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #470907;
  color: white;
  font-family: berlin;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn:hover {
  background-color: #470907;
}

#logo {
  height: auto;
  width: 90%;
}

.image {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #470907;
}

::placeholder {
  color: white;
  text-align: center;
  opacity: 0.8;
}

#projet {
  border: none;
  color: #470907;
  font-family: berlin;
  font-size: 40px;
  cursor: pointer;
  text-decoration:none;
  text-align: center;
  line-height: 230px;
  display: block;
  width: 100%;
  height: 100%;

}

#popup {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 10;
  position: absolute;
  top: 110px;
  left: 7%;
  right: 7%;
  bottom: 1%;
  background: white;
  padding: 7px 30px 10px 30px;
  border: 3px solid #470907;

}

#close {
  text-align: right;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #470907;
}


#resume {
  flex: 1;
  text-align: justify;
  font-size: 36px;
  overflow-y: scroll;
  color: #470907;
}

#text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 20px;
}


.sources {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 30px;
}

.sources a {
  color: #8B110D;
  text-decoration: none;
}

#sourceLogos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.img {
  width: auto;
  height: 70px;
}

/***************** Flipping card ************************************/

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back, .flip-card-back2 {
  background-color: #470907;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back2 {
  background-color: white;
}
