html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Julius Sans One', sans-serif; /*POUR LE TITRE DU VOLET*/
}

.esri-widget--button {
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.esri-ui-corner .esri-component {
  width: 60px;
  height: 90px;
  box-shadow: none;
}

h3.esri-widget__heading {
  font-size: 22px;
}

.esri-legend__layer-cell--info {
  font-size: 20px;
}

.esri-ui-corner .esri-component.esri-widget--panel {
    width: 300px;
    height: 180px;
}

.esri-legend__layer-caption {
  display: none;
}


#home {
  background-color: #8B110D;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: absolute;
}

#home a {
  display: flex;
  align-items: center;
}

.bandeau {
  background-color: #8B110D;
  color: white;
  height: 100%;
  border: none;
  cursor: pointer;
  font-family: Arial;
  font-size: 1.2em;
}

#paraaam {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 300px;
  height: 95%;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  border-right: 3px solid black;
}



#carte {
  border-left: 2px solid white;
  font-size: 1.7em;
  padding: 5px 50px;
}

#carte:hover {
  background-color: white;
  color: #8B110D;
  border: 2px solid #8B110D;
}

#viewDiv {
  height: 95%;
  width: 100%;
  margin-top: 50px;
}

h2 {
  padding-left: 10px;
}

#button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#btnD {
  margin-top: 20px;
}

#btnPP {
  margin-bottom: 20px;
}

#txt {
  margin-top: 0px;
}

.btn {
  color: black;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: 'Saira Extra Condensed', sans-serif; */
  /* font-family: 'Julius Sans One', sans-serif; */
}

.btn:hover {background: #eee;}

hr {
  width: 250px;
  height: 2px;
  background-color: black;
  border-color: black;
}

#PP {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 90px;
  padding-right: 5px;
  cursor: pointer;
  font-size: 1.7em;
  font-family: Arial;
  color: white;
  border-left: 2px solid white;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  margin-top: 12px;
  margin-left: 32px;
  border-radius: 10px;
}

.container input:checked ~ .checkmark {
  background-color: black;
  border: 2px solid white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
