html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif; /*POUR LE TITRE DU VOLET*/
  /* font-family: 'Open Sans Condensed', sans-serif; */

	overflow: hidden; /* empecher le scroll sur la page */
}

span.esri-icon esri-icon-plus {
    font-size: 30px;
    display: inline-block;
}

.esri-zoom .esri-widget--button {
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
	border-radius: 10px;
}

.esri-icon {
    font-size: 25px;
    display: inline-block;
}

.esri-ui-corner .esri-component {
  width: 60px;
  height: 90px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  /* box-shadow: none; */
}


#home {
  background-color: #8B110D;
  height: 48px;
  width: 100%;
  display: flex;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
}

.bandeau {
  background-color: #8B110D;
  color: white;
  height: 100%;
  border: none;
  cursor: pointer;
}

#help {
  padding-left: 20px;
}

#help i {
  margin-top: 7px;
}

#viewDiv {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  z-index: 0;
}

#vertic {
  display: flex;
  flex-direction: column;
  height: 93%;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
}

#horiz {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cadres {
  width: 35px;
  background : lightgoldenrodyellow;
  align-items: center;
  justify-content: center;
}

#cadreNord{
    width : 100%;
}

#cadreOuest{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#cadreEst{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#cadreSud{
    width : 100%;
}

#boouuuton {
  display: flex;
  justify-content: center;
}

#boutonCadre {
  width: auto;
  font-size: 40px;
  background-color: white;
  border: black solid 2px;
}

h2 {
  padding-left: 10px;
}

#button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  color: black;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Julius Sans One', sans-serif;
}

.btn:hover {background: #eee;}

hr {
  width: 250px;
  height: 2px;
  background-color: black;
  border-color: black;
}

#choixOutils {
  background-color: #8B110D;
  color: white;
  bottom: 120px;
  margin-left: 15px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #060D9D;
}

::placeholder {
  color: white;
  text-align: center;
  opacity: 0.8;
}

#nom_gares {
	height: auto;
	weight: 100%;
	font-size: 3.5em;;
	color: white;
	font-weight: bold;
	background-color: #060D9D;
  border: none;
  border-bottom: white solid 3px;
}

.transport {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#metros {
  display: flex;
  flex-direction: column;
}

#METRO1  {
    align-items: center;
}

.TRANSP {
  display: flex;
  justify-content: space-around;
}

#propositionGare{
  display: flex;
  flex-direction: column;
  font-size: 60px;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}

.prop:hover {
  background-color: gold;
}

/* .prop {
  border-bottom: 3px solid red;
  padding: 5px 0px;
} */

#RECHERCHE {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#boutonGares {
  background-color: #060D9D;
  font-weight: bold;
  font-size: 4em;
  color: white;
}

.widg {
  position:absolute;
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  top: 95px;
  padding: 2px;
}

#topog {
  right:180px;
  height: auto;
  position:absolute;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  top: 95px;
  padding: 7px 7px 4px 42px;
  border-radius: 10px;
  font-size: 1.2em;
}

#topog input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin: 10.5px 2px auto 7px;
  border-radius: 10px;
}

#topog input:checked ~ .checkmark2 {
  background-color: white;
  /* border: 2px solid black; */
}

.checkmark2:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmark when checked */
#topog input:checked ~ .checkmark2:after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the checkmark/indicator */
#topog .checkmark2:after {
  left: 10.5px;
  top: 6px;
  width: 7px;
  height: 12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




#loupe {
  right:120px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#loupe:active {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#lecture {
  margin-left: 18px;
  background-color: white;
}

.widg:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  font-size: 2.3em;
  border-left: 2px solid white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-top: 8px;
  margin-left: 20px;
  border-radius: 10px;
}

.container input:checked ~ .checkmark {
  background-color: black;
  border: 2px solid white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10.5px;
  top: 6px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*################################### CSS VOLET ##########################################*/

	#volet {
			width: 400px;
      height: 91.3%;
			background: white;
      color: black;
      border-style: solid;
      border-width: 3px;
      border-color: black;
      z-index: 1;
		}

	#volet a.ouvrir,

	#volet a.fermer {
		padding: 20px 25px; /*padding du bouton ouvrir et fermer*/
		background: black;
		color: white;
	  font-weight: bold;
	  font-size: 30px;
		text-decoration: none;
	}

	#volet {
		position: absolute;
		left: -408px; top: 50px;
		-webkit-transition: all .5s ease-in;
		-moz-transition: all .5s ease-in;
		transition: all .5s ease-in;
	}

	#volet a.ouvrir,
	#volet a.fermer {
		position: absolute;
		right: -145px;
		top: 68px;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-moz-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
	}

	#volet a.fermer {
		display: none;
	}

	#volet:target {
		left: 0px;
	}

	#volet:target a.fermer {
		display: block;
	}
	#volet:target a.ouvrir {
		display: none;
	}

	#volet_clos:target #volet {
		left: -408px;
	}



#projet {
  border: none;
  background-color: white;
  color: #470907;
  font-family: berlin;
  font-size: 40px;
  cursor: pointer;
  text-decoration:none;
  text-align: center;
  line-height: 230px;
  display: block;
  width: 100%;
  height: 100%;
}


/* CSS Aide - Malvoyants */

#popup {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 7%;
  right: 7%;
  bottom: 1%;
  background: white;
  padding: 7px 30px 10px 30px;
  border: 3px solid black;
}

#close {
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  cursor: pointer;
  color: #470907;
}

#aide {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 30px;
}

#textes {
  margin: 0;
  font-size: 50px;
}

#resume {
  overflow-y: scroll;
  color: #470907;
    text-align: center;
}

::-webkit-scrollbar {
  width: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #470907;
}
