
html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
  
  }
  
  
  h1{
      background : lightgreen;
  }

  #viewDiv{
    order:2;
  }
  .NSContainer{
      
      flex-direction: column;
  }  
  .EOContainer{
    justify-content: center;
    flex-direction: row;
}  
  
  #cadreNord{
      order:1;
      background : gold;
  }
  
  #cadreOuest{
    order:2;
      background : red;
  }
  
  #cadreEst{
    order:3;
      background : pink;
  }
  
  #cadreSud{
    order:4;
      background : blueviolet;
  }
  